@page "/user/{Team}/{Player}"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorSignalRApp.Shared
@inject HttpClient Http
@inject NavigationManager NavManager
@implements IAsyncDisposable


<h3>
    team: @Team     player: @Player
</h3>
<br />

<button @onclick="CorrectAnswer" disabled="@(IsActiveTeam)">Correct Answer</button>
<button @onclick="WrongAnswer" disabled="@(IsActiveTeam)">Wrong Answer</button>
<br/>

<div style="@performhidden">Please perform @currentTask.Type for the other members of your team</div>
<br/>
<br/>
<div class="box"  style="@taskhidden">@currentTask.KeyWord</div>
<br/>
<table class="table" style="@taskhidden">
    <thead>
        <tr>
            <th>taboo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var taboo in currentTask.Taboos)
        {
            <tr>
                <td>@taboo</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string Team { get; set; }

    [Parameter]
    public string Player { get; set; }

    public bool IsActiveTeam = true;

    private HubConnection taskHubConnection;
    private HubConnection timeHubConnection;
    private int count = 0;

    private SpielTask currentTask = new SpielTask();

    private string taskhidden = "visibility:hidden";
    private string performhidden = "visibility:hidden";


    protected override async Task OnInitializedAsync()
    {
        timeHubConnection = new HubConnectionBuilder()
        .WithUrl(NavManager.ToAbsoluteUri("/timehub"))
        .Build();

        timeHubConnection.On<int>("ReceiveMessage", (cnt) =>
        {
            count = cnt;
        });

        currentTask = await Http.GetFromJsonAsync<SpielTask>("Api/CurrentTask");

        taskHubConnection = new HubConnectionBuilder()
           .WithUrl(NavManager.ToAbsoluteUri("/spieltaskhub"))
           .Build();

        taskHubConnection.On<SpielTask>("ReceiveMessage", (task) =>
        {
            currentTask = task;
            performhidden = "visibility:hidden";
            if (Team == task.Team)
                IsActiveTeam = true;
            else IsActiveTeam = false;

            if (IsActiveTeam && Player != task.Player)
            {
                taskhidden = "visibility:hidden";
            }
            else taskhidden = "";

            if (IsActiveTeam && Player == task.Player)
                performhidden = "";

            StateHasChanged();
        });

        await taskHubConnection.StartAsync();
        await timeHubConnection.StartAsync();
    }

    public async ValueTask DisposeAsync()
    {
        await taskHubConnection.DisposeAsync();
        await timeHubConnection.DisposeAsync();
    }

    private async void CorrectAnswer()
    {
        await Http.GetFromJsonAsync<bool>("Api/ScoreTask?score=1");
        if (count > 60)
        {
            await Http.GetStringAsync("Api/NextPlayer");
            await Http.GetFromJsonAsync<bool>("Api/Timer/Reset");
        }

        currentTask = await Http.GetFromJsonAsync<SpielTask>("Api/NextTask");

        StateHasChanged();
    }

    private async void WrongAnswer()
    {
        await Http.GetFromJsonAsync<bool>("Api/ScoreTask?score=0");
        if (count > 60)
        {
            await Http.GetStringAsync("Api/NextPlayer");
            await Http.GetFromJsonAsync<bool>("Api/Timer/Reset");
        }

        currentTask = await Http.GetFromJsonAsync<SpielTask>("Api/NextTask");

        StateHasChanged();
    }
}
